.movies__list {
  margin: 70px auto 80px;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 270px);
  grid-template-rows: repeat(auto-fit, 218px);
  row-gap: 32px;
  column-gap: 20px;
  width: calc(100% - 2 * 70px);
  max-width: 1280px;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .movies__list {
    width: calc(100% - 2 * 30px);
    grid-template-columns: repeat(auto-fit, 339px);
    grid-template-rows: repeat(auto-fit, 257px);
    gap: 36px 30px;
    margin-bottom: 50px;
    justify-content: center;
  }
}

@media screen and (max-width: 400px) {
  .movies__list {
    width: calc(100% - 2 * 10px);
    margin-top: 40px;
    margin-bottom: 80px;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-template-rows: repeat(auto-fit, 235px);
    gap: 20px;
  }
}