.navigation {}

.navigation__btn-container {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-right: 70px;
  list-style: none;
  padding: 0;
}

@media screen and (max-width: 875px) {
  .navigation__btn-container {
    margin-right: 30px;
  }
}

@media screen and (max-width: 565px) {
  .navigation__btn-container {
    margin-right: 14px;
    gap: 14px;
  }
}

.navigation__menu {
  display: flex;
  margin-right: 70px;
}

.navigation__account-menu {
  margin-left: 50px;
}

.navigation__link {
  color: #fff;
  font-style: normal;
  text-decoration: none;
}

.navigation__link_logout {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}

@media screen and (max-width: 565px) {
  .navigation__link_logout {
    font-size: 10px;
  }
}

.navigation__button {
  border-radius: 3px;
  border: none;
  background-color: #3ddc84;
  color: #000;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  padding: 8px 20px;
  cursor: pointer;
  text-decoration: none;
}

@media screen and (max-width: 565px) {
  .navigation__button {
    font-size: 10px;
    padding: 5px 12px;
  }
}

.navigation__menu {

}